.mini-pen-toolbar {
    font: 400 1.16em/1.45 Palatino, Optima, Georgia, serif;
    color: #331;
    white-space: nowrap;
    box-shadow: 1px 2px 3px -2px #ccc;
    background: #eee;
    position: fixed;
    height: 36px;
    border: 1px solid #ccc;
    display: none;
    z-index: 1000;

    .mini-pen-menu-btn {
        display: inline-block;

        .mini-pen-icon{
            position: relative;
            min-width: 20px;
            display: inline-block;
            padding: 0 10px;
            height: 36px;
            line-height: 36px;
            vertical-align: top;
            color: #333;
            text-align: center;
            cursor: pointer;
            position: relative;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            [class^="icon-"] {
                background: transparent;
                background-image: none;
            }

            &:hover {
                background: #ddd;
            }

            &:active {
                background: #ccc;
            }

            &.active {
                color: #1abf89;
                background: #ccc;
            }

            .popup {
                position: absolute;
                left: 0;
                top: 100%;
                width: 130px;
                border: solid 1px #ccc;
                background-color: #fff;
                display: none;
            }

            &:hover {
                .popup {
                    display: block;
                }
            }
        }

        .fa-bg-color,
        .fa-color {
            .dropdown-list-item {
                float: left;
                border: 1px solid transparent;
                height: 18px;
                width: 18px;
                margin: 3px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
            }

            .dropdown-list {
                overflow: hidden;
            }
        }


        .color-input {
            float: left;
            margin: 0;
            box-sizing: border-box;
            border: none;
            box-shadow: none;
            padding: 3px;

            input {
                padding: 0 3px;
                box-sizing: border-box;
                float: left;
                border: solid 1px #ccc;
                height: 22px;
                line-height: 22px;
                width: 70px;
            }

            button {
                float: left;
                width: 50px;
                height: 22px;
                line-height: 22px;
                padding: 0px;
                margin: 0px;
                margin-left: 3px;
                box-sizing: border-box;
            }
        }

        .fa-bg-color::before {
            background-color: #fdea02;
        }

        .fa-text-height {
            .popup {
                width: 60px;
            }

            .dropdown-list-item {
                font-size: 12px;
                cursor: pointer;
                color: #666;
                height: 20px;
                line-height: 20px;
                border-bottom: solid 1px #eee;

                &:hover {
                    color: #555;
                    background-color: #ddd;
                }

                &:active {
                    color: #333;
                    background-color: #ccc;
                }
            }
        }

        .fa-color {
            color: #EA4B35;
        }
    }

    .mini-pen-input{
        font-size: 14px;
        line-height: 1;
        display: none;

        &:focus{
            outline:none;
        }
    }
}
